*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    background-color: darkblue;
    width: 100%;
    color: yellow;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 5px 1px black;
    position: relative;
    align-items: center;
}

h1 a{
    position: absolute;
    right: 10px;
    color: yellow;
    font-size: 12px;
    background-color: transparent;
    border: solid 1px yellow;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
}

h3{
    text-align: center;

}